# Archivos del sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Temporales
*.log
*.tmp

# Node modules (si decides usar npm)
node_modules/

# Files
Agentic_AI_GPAIS_IAFER.html
pagina.html